<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
     <h1>ようこそLeather Shoesへ</h1>
<section id="about">
			<p class= "about-text">
				Leather Shoes は、自分の靴の画像や動画を投稿し、他のユーザーと共有することができる、革靴専門のSNSです。<br>
        投稿するだけでなく、自分が購入を検討している靴に関する情報を検索したり、所持している人にコメントを通じて、詳細を聞くこともできます。
			</p>
		</section>
</div><h1></h1>