<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
     <h1>ようこそLeather Shoesへ</h1>
     <table class="table">
     	<tr>
     		<th>
              <section id="about1"></section>
    	    </th>
    	    <th>
    	        <h3 class="text-center" 
    	        style="line-height: 2em">Leather Shoes は、
    	        <br>自分の靴の画像や動画を投稿し、他のユーザーと共有することができる,革靴専門のSNSです。<br>
                投稿するだけでなく、自分が購入を検討している靴に関する情報を検索したり、所持している人にコメントを通じて、詳細を聞くこともできます。
                </h3>
            </th>
        </tr>
        <tr>
        	<th>
        		<h2 class="text-center">１、登録しよう！</h2>
        		<h3 class="text-center" 
    	        style="line-height: 2em">
    	        <br>登録を完了することで、全ての機能を利用することができます。<br>
                登録はメールアドレス他、SNS認証も対応しています。<br>
                早速始めてみましょう。
                </h3>
        	</th>
        	<th>
        		<section id="about2"></section>
        	</th>
        </tr>
        <tr>
        	<th>
        		<section id="about3"></section>
        	</th>
        	<th>
        		<h2 class="text-center">２、投稿しよう！</h2>
        		<h3 class="text-center" 
    	        style="line-height: 2em">
    	        <br>自分のお気に入りの靴を投稿しましょう。<br>
                自分のお気に入りの一足を投稿して、皆に共有しましょう。<br>
                テキストはもちろん、画像や動画も投稿することができます。<br>靴の詳細を選択してから投稿することでより多くの人に見てもらうことができます。
                </h3>
        	</th>
        </tr>
        <tr>
        	<th>
        		<h2 class="text-center">３、検索しよう！</h2>
        		<h3 class="text-center" 
    	        style="line-height: 2em">Leather Shoes は、
    	        <br>検索機能はブランドやサイズ、革の種類などからも検索することができます。<br>
                自分の気になる靴や購入を検討している靴を見つけて、参考にしたり。コメントでサイズ感などを聞いてみましょう。
                </h3>
        	</th>
        	<th>
        		<section id="about4"></section>
        	</th>
        </tr>
     </table>
    </div>
</div>