<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
     <h1>おすすめブランド</h1>

     <table class="table">
     	<tr>
     		<th>
              <section id="recommend1"></section>
    	    </th>
    	    <th>
    	        <h3 class="text-center" 
    	        style="line-height: 2em">おすすめブランド３選<br>
                革靴を購入するにあたり、「どのブランドを購入すれば良いのか分からない」という声はよく聞きます。このページでは、革靴初心者のためにおすすめのブランドを３つ紹介します。
                </h3>
            </th>
        </tr>
        <tr>
        	<th>
        		<h2 class="text-center">スコッチ・グレイン</h2>
        		<h3 class="text-center" 
    	        style="line-height: 2em">
    	        <br>スコッチ・グレインは日本の靴メーカーです。<br>
            　　　日本人に合わせた木型をミリ単位で調整しているので、日本人にあった日本人のためのブランドと言えます。価格帯もレギュラーラインは３万円〜からあり、製法もグッドイヤー製法を採用しています。made in japan<br>
            革靴入門者におすすめのブランドです。
                </h3>
        	</th>
        	<th>
        		<section id="recommend2"></section>
        	</th>
        </tr>
        <tr>
        	<th>
        		<section id="recommend3"></section>
        	</th>
        	<th>
        		<h2 class="text-center">カルミナ</h2>
        		<h3 class="text-center" 
    	        style="line-height: 2em">
                <br>カルミナはスペインの靴メーカーです。<br>
                カルミナの特徴は高品質な革にあります。<br>
            　　　革の厳選はもちろん、革の保存環境まで徹底管理されているので、足馴染みが良く、購入する際の個体差も少ないのが特徴です。価格帯は６万円から、製法はグッドイヤー製法です。made in spain<br>
            海外ブランドを初めて購入する方におすすめの一足です。
                </h3>
        	</th>
        </tr>
        <tr>
        	<th>
        		<h2 class="text-center">パラブーツ</h2>
        		<h3 class="text-center" 
    	        style="line-height: 2em">
    	        <br>パラブーツはフランスの靴メーカーです。<br>
                パラブーツの特徴は、快適な履き心地と高い防水性です。
                パラブーツの靴の多くに使用されているリスレザーはパラブーツ独自の革で、撥水性の高さや堅牢性に優れています。靴本体の作りも水の侵入を防ぐノルウェイジャン製法を採用しています。価格は７万円からです。
                made in france
                <br>
                オンオフ問わず、長く履きたい方におすすめです。
                </h3>
        	</th>
        	<th>
        		<section id="recommend4"></section>
        	</th>
        </tr>
     </table>
    </div>
</div>